@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
}
.container-sm {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  padding-bottom: 1rem;
}
h2 {
  font-size: 2.3rem;
}
p {
  font-size: 0.9rem;
  color: #444444;
  line-height: 1.5;
  padding: 1rem 0;
}
a {
  text-decoration: none;
  color: #444444;
}
small {
  color: #444444;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}
/* -----------------------HEADER----------------------- */
header {
  background: radial-gradient(#fff, #ffd6d6);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}
.navbar .logo {
  margin-top: 1rem;
}
.navbar nav .bag-image,
.menu-image {
  margin-top: 1.5rem;
}
.container .navbar nav > ul li {
  list-style-type: none;
  margin: 0 0.8rem;
}
.container .navbar nav > ul li a {
  text-decoration: none;
  color: black;
  padding: 0.1rem;
}
.container .navbar nav > ul li a:hover {
  border: none;
  border-bottom: 3px solid #ff523b;
}
.container .navbar nav .bag-image img {
  margin-left: 0.25rem;
}
.container .navbar nav .bag-image img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.web-header {
  margin-top: 4rem;
}
.web-header .col-1 {
  flex-basis: 50%;
  min-width: 300px;
}
.web-header .col-1 .big-image img {
  max-width: 100%;
  padding: 3rem 0;
}
/* --------------------FEATURED CATEGORIES---------------- */
.featured-categories {
  margin: 4.5rem 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 3rem 0;
}
.col-3 img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 0px 2px #c9c9c9;
}
.featured-categories .category-images .image-1,
.featured-categories .category-images .image-2,
.featured-categories .category-images .image-3 {
  transition: all 0.3s ease;
}
.featured-categories .category-images .image-1:hover,
.featured-categories .category-images .image-2:hover,
.featured-categories .category-images .image-3:hover {
  transform: scale(1.02);
  cursor: pointer;
}
/* -------------------------FEATURED PRODUCTS & LATEST PRODUCTS----------------- */
.col-4 {
  flex-basis: 25%;
  padding: 0.8rem;
  min-width: 200px;
  margin-bottom: 3rem;
}
.col-4 .rating .fa {
  color: #ff523b;
}
.col-4 img {
  width: 100%;
  transition: all 0.3s ease;
}
.col-4 h4 {
  color: #555;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.col-4 img:hover {
  transform: translateY(-0.3rem);
  cursor: pointer;
}
.col-4 p {
  padding: 0.25rem;
  font-size: 0.85rem;
}

/* --------------------------EXCLUSIVE SECTION----------------------- */
.exclusive {
  padding: 4rem;
  background: radial-gradient(#fff, #ffd6d6);
}
.exclusive .container-sm {
  flex-wrap: nowrap;
}
.exclusive .watch {
  min-width: 250px;
  padding-right: 1rem;
}
.exclusive .watch img {
  width: 100%;
}
/* -----------------COMMENT SECTION--------------- */
.comments .cards {
  flex-wrap: nowrap;
}
.comments .cards .card .card-content {
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 200px;
  margin: 4rem 1rem;
  padding: 3rem 1rem 1rem 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.comments .cards .card .card-content:hover {
  transform: translateY(-0.4rem);
}
.comments .cards .card .card-content .comment-icon .fa {
  font-size: 2rem;
}
.comments .cards .card .card-content .comment-icon .fa,
.comments .cards .card .card-content .rating .fa {
  color: #ff523b;
}
.comments .cards .card .card-content .user-image {
  flex-direction: column;
  margin: 1rem 0;
}
.comments .cards .card .card-content .user-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}
/* --------------------COMPANY LOGOS--------------------- */
.brand-logos {
  margin: 3rem auto;
}
.brand-logos .col-5 {
  width: 160px;
}
.brand-logos .col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.3s;
}
.brand-logos .col-5 img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
/* ------------------------FOOTER ----------------------- */
footer {
  background: #001;
  color: #8a8a8a;
  font-size: 0.8rem;
}
footer h3 {
  color: #fff;
}
footer p,
li {
  color: rgb(148, 148, 148);
}
.footer-wrapper {
  padding: 3.2rem 0 1.3rem;
}
.footer-wrapper.flex {
  flex-wrap: nowrap;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-wrapper .footer-col-1 .downloads {
  display: flex;
  width: 125px;
}
.footer-wrapper .footer-col-1 .downloads img {
  width: 100%;
  margin-right: 0.25rem;
  cursor: pointer;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-wrapper .footer-col-2 .clogo {
  margin: auto;
  width: 180px;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-col-2 .clogo img {
  width: 100%;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.footer-col-3 h3,
.footer-col-4 h3 {
  margin-bottom: 1rem;
}
.footer-col-3 ul li {
  list-style-type: none;
  margin: 0.5rem 0;
  transition: 0.3s;
}
.footer-col-3 ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-col-4 .follow {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0.8rem 0;
  cursor: pointer;
}
.footer-col-4 .follow i {
  margin-right: 1rem;
}
.footer-col-4 .follow i:hover {
  transform: scale(1.2);
}
.footer-col-4 .follow .fa {
  color: #fff;
  font-size: 1.4rem;
}

.footer-col-4 .follow p {
  text-align: center;
  padding: 0;
  margin: 0;
}
hr {
  opacity: 0.6;
  color: #444;
}
.copyright {
  background: #001;
}
.copyright p {
  padding: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

/* ----------------------------PRODUCT PAGE--------------------- */
.all-products .container-sm .headings > h2 {
  font-size: 1.5rem;
  padding-left: 1rem;
  color: #333;
}
.all-products .headings {
  margin: 2rem 0;
}
.all-products .container-sm .headings .sort {
  padding-right: 1rem;
}
select {
  border: 1px solid #ff523b;
}
select:focus {
  outline: none;
}
.page-buttons {
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.page-buttons span {
  display: inline-block;
  font-weight: 400;
  width: 40px;
  height: 40px;
  padding-top: 0.4rem;
  text-align: center;
  border: 1px solid #ff523b;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-buttons span:hover {
  background-color: #ff523b;
  color: #fff;
}
/* --------------------------PRODUCTS DETAILS PAGE--------------- */
.single-products-details {
  margin-top: 4rem;
}
.single-products-details .flex {
  flex-wrap: nowrap;
  justify-content: space-around;
}
.single-products-details .flex .col-2 > img {
  padding: 0;
  max-width: 100%;
}
.col-2 {
  min-width: 300px;
  flex-basis: 50%;
}
.single-products-details .flex .col-2 {
  padding: 1.3rem;
}
.single-products-details .flex .col-2 select {
  display: block;
  margin-top: 1.3rem;
  cursor: pointer;
}
.single-products-details .flex .col-2 input {
  height: 35px;
  width: 50px;
  margin-top: 1.5rem;
  padding-left: 0.9rem;
  border: 1px solid #ff523b;
  margin-right: 1.3rem;
  cursor: pointer;
}
input:focus {
  outline: none;
}
.single-products-details .flex .col-2 a {
  text-decoration: none;
}
.single-products-details .flex .col-2 h1 {
  font-size: 2.5rem;
}
.single-products-details .flex .col-2 h4 {
  font-weight: bold;
}
.single-products-details .flex .col-2 h3 {
  font-size: 1.7rem;
  padding-top: 2rem;
  margin-right: 0.3rem;
}
.single-products-details .flex .col-2 p {
  line-height: 1.4;
  font-size: 1rem;
}
.single-products-details .flex .col-2 .fa {
  color: #ff523b;
  margin-left: 0.6rem;
}
.single-products-details .flex .col-2 .small-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-products-details .flex .col-2 .small-row .col-images {
  flex-basis: 24%;
  cursor: pointer;
}
.single-products-details .flex .col-2 .small-row .col-images img {
  width: 100%;
}
.headings {
  padding: 1rem;
}
.headings h2 {
  font-size: 1.7rem;
}
.single-product .featured-product-images .col-4 {
  min-width: 130px;
}
/* ------------------------BILLING PAGE----------------- */
.billing {
  margin: 3rem 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
table th {
  padding: 0.3rem;
  color: #fff;
  background-color: #ff523b;
  text-align: left;
}
table td {
  padding: 0.7rem 0.5rem;
}
table td a {
  color: #ff523b;
  font-size: 0.8rem;
}
table td img {
  width: 80px;
  height: 80px;
  margin-right: 0.8rem;
}
table td input {
  width: 50px;
  height: 35px;
  padding: 5px;
}

table td p {
  margin: 0;
  padding: 0;
}
table td .price {
  font-size: 0.7rem;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 300px;
}
td:last-child,
th:last-child {
  text-align: right;
}
/* ------------------------------ACCOUNT------------------- */
.account {
  margin-top: 1rem;
  padding: 2rem 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
  margin: auto;
  padding: 1.3rem 0;
  width: 300px;
  height: 400px;
  text-align: center;
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
#Indicator {
  background: #ff523b;
  height: 3px;
  border: none;
  border-radius: 10px;
  margin-top: 0.5rem;
  width: 105px;
  transform: translateX(100px);
  transition: all 0.7s ease;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 1.2rem;
  position: absolute;
  top: 110px;
  transition: all 0.7s ease;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form input {
  width: 100%;
  padding: 0 5px;
  height: 30px;
  border: none;
  outline: none;
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
}
form .btn {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.6rem 0;
}
form a {
  font-size: 0.8rem;
}
form button {
  width: 100%;
  border: none;
  outline: none;
}
/* `----------------------MOBILE RESPONSIVE--------------------- */
.menu-image {
  width: 28px;
  margin-left: 1rem;
  display: none;
  cursor: pointer;
}
.menu-image img {
  width: 100%;
}
@media (max-width: 1024px) {
  .container {
    max-width: 940px;
    overflow: hidden;
  }
  .container-sm {
    max-width: 800px;
  }
  .navbar {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .container .navbar nav > ul li {
    margin: 0 0.5rem;
  }
  .featured-categories .category-images .image-1 img,
  .featured-categories .category-images .image-2 img,
  .featured-categories .category-images .image-3 img {
    width: 240px;
  }
  .featured-products .featured-product-images.flex {
    flex-wrap: nowrap;
  }
  .featured-products .col-4,
  .latest-products .col-4 {
    min-width: 190px;
  }
  .brand-logos .flex {
    flex-wrap: nowrap;
  }
  .brand-logos .col-5 img {
    padding: 0.7rem;
  }
  .footer-wrapper .footer-col-1 {
    flex-basis: 25%;
  }
  .footer-wrapper .footer-col-1 .downloads {
    display: block;
    width: 125px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 150px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 760px;
    overflow: auto;
  }
  .container-sm {
    max-width: 740px;
  }
  nav .menu-image {
    display: block;
    margin-top: 1.6rem;
  }
  .navbar {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .navbar nav > ul {
    display: block;
    position: absolute;
    top: 100px;
    right: 40px;
    background: #222;
    width: 30%;
    overflow: hidden;
    border-radius: 10px 0 10px 20px;
    z-index: 100;
  }
  .container .navbar nav > ul li a {
    display: block;
    text-align: right;
    color: #fff;
    margin-bottom: 0.25rem;
    padding: 0.2rem;
  }
  .featured-categories .category-images {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .featured-categories .category-images .image-1 img,
  .featured-categories .category-images .image-2 img,
  .featured-categories .category-images .image-3 img {
    min-width: 240px;
  }
  .featured-products .featured-product-images.flex {
    flex-wrap: wrap;
  }
  .featured-products .col-4,
  .latest-products .col-4 {
    min-width: 170px;
  }
  .section-heading::after {
    left: 43%;
  }
  footer .footer-wrapper p,
  li {
    font-size: 0.8rem;
  }
  footer .footer-wrapper .footer-col-2 .clogo {
    width: 130px;
    margin-bottom: 1rem;
  }
  footer .footer-wrapper .footer-col-2 p {
    font-size: 0.7rem;
    text-align: center;
  }

  .all-products .featured-product-images .col-4 {
    min-width: 170px;
  }
}

@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 550px;
    overflow-x: hidden;
  }
  .container-sm {
    max-width: 450px;
    overflow-x: hidden;
  }
  .navbar {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .navbar .logo {
    margin-top: 2rem;
  }
  .web-header .header-description {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .web-header .header-description h1 {
    font-size: 1.7rem;
  }
  .section-heading {
    font-size: 1.5rem;
  }
  .section-heading::after {
    left: 36%;
  }
  nav .menu-image {
    display: block;
    margin-top: 1.7rem;
  }
  .featured-categories .category-images.flex {
    flex-direction: column;
  }
  .featured-products .featured-product-images.flex {
    flex-wrap: wrap;
  }
  .exclusive .container-sm.flex {
    flex-direction: column;
  }
  .exclusive h2 {
    font-size: 2.1rem;
  }
  .comments .cards.flex {
    flex-direction: column;
  }
  .brand-logos .flex {
    flex-wrap: wrap;
  }
  .footer-wrapper.flex {
    flex-direction: column;
  }
  .footer-wrapper .footer-col-1,
  .footer-wrapper .footer-col-2,
  .footer-wrapper .footer-col-3,
  .footer-wrapper .footer-col-4 {
    margin: 1rem 0;
    border-bottom: 1px solid #c9c9c9;
  }
  .footer-wrapper .footer-col-1 h3 {
    text-align: center;
  }
  .footer-wrapper .footer-col-1 .downloads {
    display: flex;
    align-items: center;
    padding-bottom: 0.2rem;
    width: 145px;
  }
  .footer-wrapper .footer-col-1 .downloads img:first-child {
    margin-right: 0.5rem;
  }
  .footer-wrapper .footer-col-1 .downloads img:nth-child(2) {
    margin-right: 0;
  }
  .copyright p {
    font-size: 0.8rem;
    color: #c9c9c9;
  }
  .all-products .featured-product-images .col-4 {
    min-width: 150px;
  }
  .all-products .headings.flex {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  .all-products .headings {
    padding-left: 1rem;
  }
  .all-products .headings .sort {
    padding-left: 1rem;
    padding-right: 0;
    margin-top: 0.5rem;
  }
  .page-buttons {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
  .page-buttons span {
    width: 30px;
    height: 30px;
    padding-top: 0.1rem;
  }
  .single-products-details .flex {
    flex-direction: column;
  }
  .headings.flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .headings .btn {
    height: 40px;
    width: 140px;
  }
  .featured-product-images.nowrap {
    flex-wrap: wrap;
  }
  .account .container.justify-between {
    justify-content: center;
  }
}
@media (max-width: 376px) {
  .section-heading::after {
    left: 32%;
  }
  .navbar {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .featured-products .col-4,
  .latest-products .col-4 {
    min-width: 135px;
  }
  .featured-products .col-4,
  .latest-products .col-4 {
    margin-bottom: 1rem;
  }
  .featured-products .featured-product-images.flex {
    flex-wrap: wrap;
  }
  .footer-wrapper .footer-col-1 .downloads img {
    min-width: 130px;
  }
  .footer-wrapper .footer-col-1 .downloads img:first-child {
    margin-right: 0rem;
    padding-right: 0.2rem;
  }
  .footer-wrapper .footer-col-1 .downloads img:nth-child(2) {
    margin-right: 0;
  }
  .all-products .featured-product-images .col-4 {
    min-width: 130px;
  }
  .all-products .headings {
    padding-left: 1rem;
  }
  .all-products .headings .sort {
    padding-left: 1rem;
    padding-right: 0;
    margin-top: 0.5rem;
  }
  .page-buttons {
    padding-left: 1.6rem;
    margin-bottom: 1.5rem;
  }
}
/* --------------------PRODUCT DETAILS PAGE------------- */

/* ---------------------------UTILITY CLASSES---------------------- */
.section-heading {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.8rem;
  color: #6b6b6b;
}
.section-heading::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 45%;
  margin-top: 0.25rem;
  border-radius: 10px;
  background-color: #ff523b;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.section-heading .flex {
  display: flex;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.justify-around {
  justify-content: space-around;
}

.btn {
  background-color: #ff523b;
  color: #fff;
  border-radius: 20px;
  padding: 0.4rem 1.5rem;
  margin: 1rem 0;
  outline: none;
  border: 1px solid #ff523b;
  transition: all 0.2 ease;
}
.btn:hover {
  color: #fff;
  border: 1px solid transparent;
  background: rgb(139, 21, 0);
  transform: scale(1.05);
  cursor: pointer;
}
